/* 
    Created on : May 14, 2017, 7:26:06 PM
    Author     : walter
*/

#btnInsert{
    background-color: white;
    color: green;
    border: 1px solid green;
    height: 30px;
    width: 140px;
    margin: 10px 2px 2px 120px;
    font-size: 17px;
    border-radius: 5px !important;
}

#btnInsert:hover, #btnInsert:focus{
    background-color: green;
    color: white;
    cursor: pointer;
}

#btnModify{
    background-color: white;
    color: orange;
    border: 1px solid orange;
    border-radius: 5px !important;
    height: 30px;
    width: 140px;
    font-size: 17px;
    margin: 10px 2px 2px 3px;
    bottom: 3px;
}

.btnDelete{
    background-color: white;
    color: red;
    border: 1px solid red;
    border-radius: 5px !important;
    height: 30px;
    width: 140px;
    font-size: 17px;
    margin: 10px 2px 2px 3px;
    bottom: 3px;
}

.btnDelete:hover, .btnDelete:focus{
    background-color: red;
    color: white;
    cursor: pointer;
}

#btnModify:hover, .btnModify:focus{
    background-color: orange;
    color: white;
    cursor: pointer;
}

