/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 14, 2017, 7:26:06 PM
    Author     : Iron-kike
*/

.instrucciones{
    background-color: rgb(242, 242, 242);
    position: relative;
    top: 50px;
    left: 120px;
    width: 1110px;
    font-size: 18px;
}

.btnInsert{
    background-color: green;
    color: white;
    border: 3px solid green;
    height: 30px;
    width: 140px;
    position: relative;
    left: 120px;
    top: 70px;
    font-size: 17px;
    border-radius: 5px !important;
}

#tableGames{
    background-color: rgb(242, 242, 242);
    position: relative;
    left: 120px;
    top: 90px;
    font-size: 19px;
    border: 3px solid rgb(100,100,100);
    border-radius: 8px !important;
}

tr, td{
    background-color: rgb(242, 242, 242);
    border: 0px;
    padding: 5px 30px 5px 30px;
}

.btnDelete{
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 5px !important;
    width: 50px;
    height: 20px;
    font-size: 13px;
}

.btnModify{
    background-color: orange;
    color: white;
    border: 1px solid orange;
    border-radius: 5px !important;
    width: 50px;
    height: 20px;
    font-size: 13px;
}

td:hover{
    background-color: lightgray;
    display: block;
}

