html, body{
    height: 100%;
    background-color: #FFFFFF;
}

#main{ height: 85%; }

.banner{
    height: 50px;
    font-family: Helvetica, Arial, sans-serif;
    background-color: white;
    border-top: 1px solid #CCC;
    border-bottom: 5px solid #A0935F;
    padding-left: 60%;
    margin-top: 10.9em;
}

.imageBanner{
    position: absolute;
    top: 0px;
    left: 565px;
}

.formulario{
    font-family: Helvetica, Geneva, Arial, sans-serif;
    color: #7E7E7E;
    background-color: rgb(242, 242, 242);
    padding: 1em;
    margin: 3em 0 0em 33.2em;
    width: 240px;
    border-radius: 20px !important;
}

.txt1, .txt2{
    margin-bottom: 8px;
    color: black;
}

.caadi{
    margin-bottom: 10px;
    margin-top: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: black;
    border-radius: 10px !important;
    font-size: 40px !important;
    font-family: Arial, Helvetica;
}

.txtBox1, .txtBox2{
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 4px !important;
    height: 25px;
    width: 235px;
    padding-top: 0px;
}

.boton{
    background-color: #428bca;
    color: white;
    border: 1px solid #428bca;
    border-radius: 5px !important;
    height: 30px;
    width: 235px; 
    margin-top: 25px;
    margin-bottom: 15px;
}

.boton:hover{
    background-color: #3276b1;
}

.begin{ align-content: center; }

footer{
    text-decoration-style: block;
    background-color: rgb(229, 229, 229);
    border-bottom: 1px solid #e7e7e7;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px !important;
}

.footerText{
    color: black;
    font-family: Helvetica, Arial, sans-serif;
}
